<!--<div class = "body">-->
  <!--<div class = "loginBox">-->
    <!--<form class = "shadow p-3 mb-5 bg-white rounded">-->
      <!--<div class="form-group">-->
        <!--<input class="form-control" placeholder="Enter email">-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<input class="form-control" placeholder="Password">-->
      <!--</div>-->
      <!--<div>-->
        <!--<button class="btn btn btn-success">Login</button>-->
      <!--</div>-->
      <!--<div class="register"> Not registered? <a href="#">Create an account</a> </div>-->
    <!--</form>-->
  <!--</div>-->
<!--</div>-->
<app-test-component></app-test-component>


